@{
    ViewBag.Title = "BackgroundProcessingOrder";
}

@using SchoolTakeout.Tool;
@using System.Data.SqlClient;
@using System.Runtime.Serialization.Json;
@using System.Runtime.Serialization;
@using System.Text;

<!DOCTYPE html>

<h2>商家未处理的订单信息</h2>
<div id="abcd">
    <div id="Delivery">

    </div>
</div>


<script>
    function OpenDetail(x) {
        var tbody = "tbody" + x.id;
        var a = document.getElementById(tbody).style.display;
        if (a == "none") {
            document.getElementById(tbody).style.display = "block";
        }
        else
            document.getElementById(tbody).style.display = "none";
    }
</script>



<script>
    window.onload = function () {
        setInterval("Refresh()", 6000);
    }
    function Refresh() {
        $.ajax({
            type: "post",
            url: "/BackGround/ProcessingOrder",
            data: {},
            dataType: 'TEXT',
            async: false,
            success: function (result) {
                var text = result;
                alert(text);
                var arrEntities = { 'lt': '<', 'gt': '>', 'nbsp': ' ', 'amp': '&', 'quot': '"' };
                var t = text.replace(/&(lt|gt|nbsp|amp|quot);/ig, function (all, t) { return arrEntities[t]; });
                var obj = eval("(" + t + ")");
                var i = 0;
                $("#abcd").empty();
                while (i < obj.length) {
                    var a = obj[i][3].split("WT");
                    var b = obj[i][4].replace(/GR/g, '<br/>');
                    var c = obj[i][8].split("WC");
                    var date = new Date(parseInt(obj[i][12])).toLocaleString();
                    var txt = "<table class='table table- striped table-hover'>"
                        + "<thead>"
                        + "<tr>"
                        + "<td width='800px'><div style='color:red' id='" + i + "' onclick='OpenDetail(this)'>名称:" + obj[i][0] + "</div></td>"
                        + "<td><input type='button' value='接单' onclick='fun(" + obj[i][0] + "," + obj[i][1] + "," + obj[i][2]+")' /></td>"
                        + "</tr>"
                        + "</thead>"
                        + "<tbody style='display:none;' id='tbody" + i + "'>"
                        + "<tr>"
                        + "<td><p>OrderID:" + obj[i][0] + "</p></td>"
                        + "</tr>"
                        + "<tr>"
                        + "<td><p>UserAccount:" + obj[i][1] + "</p></td>"
                        + "</tr>"
                        + "<tr>"
                        + "<td><p>ShopAccount:" + obj[i][2] + "</p></td>"
                        + "</tr>"
                        + "<tr>"
                        + "<td><p>ShopInfo:" + a + "</p></td>"
                        + "</tr>"
                        + "<tr>"
                        + "<td><p>FoodInfo:" + b + "</p></td>"
                        + "</tr>"
                        + "<tr>"
                        + "<td><p>Price:" + obj[i][5] + "</p></td>"
                        + "</tr>"
                        + "<tr>"
                        + "<td><p>DistributionPrice:" + obj[i][6] + "</p></td>"
                        + "</tr>"
                        + "<tr>"
                        + "<td><p>PackingPrice:" + obj[i][7] + "</p></td>"
                        + "</tr>"
                        + "<tr>"
                        + "<td><p>ClientInfo:" + c + "</p></td>"
                        + "</tr>"
                        + "<tr>"
                        + "<td><p>DistributionPerson:" + obj[i][9] + "</p></td>"
                        + "</tr>"
                        + "<tr>"
                        + "<td><p>RealTimeState:" + obj[i][10] + "</p></td>"
                        + "</tr>"
                        + "<tr>"
                        + "<td><p>EndState:" + obj[i][11] + "</p></td>"
                        + "</tr>"
                        + "<tr>"
                        + "<td><p>Time:" + date + "</p></td>"
                        + "</tr>"
                        + "</tbody>"
                        + "</table >";
                    $("#abcd").append(txt);

                    i++;
                }
            }
        });
    }
    function fun(OrderID,UserAccount,ShopAccount)
    {
        $.ajax({
            type: "post",
            url: "/BackGround/Accept",
            data: { "OrderID": OrderID, "UserAccount": UserAccount, "ShopAccount": ShopAccount},
            dataType: 'TEXT',
            async: false,
            success: function (result) {
                if (result == "SucceedAccept")
                {
                    alert("接单成功");
                }
            }
        });
    }
</script>