body {
    background-color: lightgray;
}

a{
    list-style:none;
    text-decoration:none;
}
.hrstyle {
    border-width: 2px;
    border-style: solid none none;
    border-color: rgb(212, 212, 212);
    height: 0px;
}
.fontstyle {
    line-height: 32px;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 0px 3px;
    border-bottom-color: rgb(222,222,222);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.infostyle {
    line-height:20px;
    margin-left:20%;
    font-size: 18px;
    padding: 1px 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.position{
     margin:5px 37.6%;
}

    .position .button {
        height: 45px;
        width: 80px;
        background-color: #1191ef;
        border: 1px solid #1191ef;
        font-size: 18px;
        color: #fff;
        border-radius: 3px;
    }

.page {
    width: 100%;
    height: auto;
    margin: 10px auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #FCFCFC;
    border-radius: 5px;
}
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}


.topnav {
    height: 50px;
    background-color: #1191ef;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.logostyle{
    margin-top:10px;
    font-family: 'Mesquite Std';
    font-size:22px;
    color:#FFFFFF;
    text-align:center;
}

.bottomnav {
    height: 50px;
    background-color: #FFFFFF;
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
}
ul.Bottomfuncarea {
    margin: 0px auto;
}
 ul.Bottomfuncarea li {
    font-family: Arial;
    font-size: 20px;
    margin-top: -8px;
    margin-left: 12%;
    float: left;
}


.Tophrstyle {
    margin-bottom: 0px;
    border-width: 1px;
    border-style: solid none none;
    border-color: #999999;
    height: 0px;
}

.Bottomhrstyle {
    margin-top: 0px;
    border-width: 1px;
    border-style: solid none none;
    border-color: #999999;
    height: 0px;
}


.Minetopnav {
    height: 200px;
    background-color: #1191ef;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.MineLogo {
    margin: 40px auto;
    width: 120px;
    height: 120px;
    text-align: center;
    font-size: 80px;
    color: #1191ef;
    background-color: #FFFFFF;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.Minelogostyle {
    margin-top:5px;
    font-family:Arial;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}
.Minepage {
    margin-top: 30px;
    height: auto;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0px 10px;
    background-color: #FCFCFC;
    border-radius: 5px;
}
.Minepage-ul li {
    font-size: 20px;
    letter-spacing: 2px;
    padding: 0px 3px;
    line-height: 50px;
    border-bottom-color: rgb(222,222,222);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.Minepage-ul li:hover{
    background-color:#F5F5F5;
}
.Minepage a {
    color:#000000;
}

.Minepage a:hover {
    list-style: none;
    text-decoration: none;
}

.DataStyle {
    margin-top: 5px;
    font-family: Arial;
    font-size: 18px;
    padding: 0px 3px;
    color: #FFFFFF;
}

.buttonOK {
    margin: 5px 37.6%;
    height: 45px;
    width: 80px;
    background-color: lawngreen;
    border: 1px solid #00FFFF;
    font-size: 18px;
    color: #1191ef;
    border-radius: 3px;
}
.buttonOK:hover{
    color:red;
}

.totstyle {
    font-size: 20px;
    color: #FFFFFF;
}
.totstyle p{
    float:left;
}