@{
    ViewBag.Title = "About";
}

    <div id="deviceready1">此处显示内容。</div>
    <input type="button" value="123" onclick="abcdef()" />
    <input type="button" value="播放" onclick="playAudio()" />
    <input type="text" id="qwer" />
    <script>
        function abc() {
            function alertDismissed() {
                // do something
            }

            navigator.notification.alert(
                'You are the winner!',  // message
                alertDismissed,         // callback
                'Game Over',            // title
                'Done'                  // buttonName
            );
        }
    </script>
    <script>
        function playAudio() {
            abc();
            // Play the audio file at url
            var my_media = new Media("/android_asset/www/video/abc.mp3",
                // success callback
                function () {
                    console.log("playAudio():Audio Success");
                },
                // error callback
                function (err) {
                    console.log("playAudio():Audio Error: " + err);
                }
            );
            // Play audio
            my_media.play();
        }
    </script>

    <script type="text/javascript" src="~/www/cordova.js"></script>
    <script type="text/javascript" src="~/www/scripts/platformOverrides.js"></script>

<script type="text/javascript">
    (function () {
        "use strict";

        document.addEventListener('deviceready1', onDeviceReady.bind(this), false);
        function onDeviceReady() {
            // 处理 Cordova 暂停并恢复事件
            document.addEventListener('pause', onPause.bind(this), false);
            document.addEventListener('resume', onResume.bind(this), false);

            // TODO: Cordova 已加载。在此处执行任何需要 Cordova 的初始化。
            var parentElement = document.getElementById('deviceready');
            var listeningElement = parentElement.querySelector('.listening');
            var receivedElement = parentElement.querySelector('.received');
            listeningElement.setAttribute('style', 'display:none;');
            receivedElement.setAttribute('style', 'display:block;');
        };

        function onPause() {
            // TODO: 此应用程序已挂起。在此处保存应用程序状态。
        };

        function onResume() {
            // TODO: 此应用程序已重新激活。在此处还原应用程序状态。
        };

    })();
</script>
<script>
    
    function abcdef() {
        setInterval("updata()", 5000);
    }

    function updata() {
        var abcd = "123";
        $.ajax({
            type: "post",
            url: "/Home/Updata1",
            data: {"Account": abcd},
            dataType: 'JSON',
            async: false,
            success: function (result) {
                if (result > 0) {
                    //playAudio();
                    alert("新订单等待抢单")
                }
                else if (result == 0) {
                }
            }
        });
    }
</script>
